<p id="notice"><%= notice %></p>

<h1 class="heading">Tweets</h1>

<% @tweets.reverse.each do |tweet| %>

<div class="tweet-container _center">
    <div class="text-container"><strong class="name"><%= tweet.body %></strong>
        <div class="nickname"><%= link_to tweet.user.email, user_profile_path(tweet.user) %></div>
        <div class="nickname"><%= tweet.created_at %></div>
        <% if current_user == tweet.user %>
          <%= link_to "Delete", tweet_path(tweet.id), :confirm => "Are you Sure?", :method => :delete, :class => 'btn_danger' %></td>
        <% end %>
      </div>
</div>

<% end %>

<br>
